{% extends 'webapp/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6 d-flex align-items-center" style="height: 500px">
            <div style="color: #FAFAFA; font-family: 'Arial Black'">
                <h1 style="font-size: 60pt">2 Factor<br>
                    Attendance<br>
                    Checking</h1>
            </div>
        </div>
    </div>
{% endblock %}