{% extends 'webapp/base.html' %}

{% block content %}
    <div style="min-height: 50px;" class="pt-5 d-print-none">
        <form method="get">
            <select class="custom-select custom-select-lg" name="event_id">
                <option value="">Select Event Here</option>
                {% for event in data.events %}
                    <option value="{{ event.id }}">{{ event.name }} - {{ event.start_time }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="mt-2 btn btn-lg btn-block btn-info">
                View List of Attendance
            </button>
        </form>
    </div>
    <div class="bg-light py-4 px-3">
        {% if data.present|length > 0  %}
            <h2>{{ data.present.0.event.name }} Attendance - {{ data.present.0.event.start_time }}</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Course</th>
                        <th scope="col">College</th>
                        <th scope="col">Time Arrived</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in data.present %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ student.student.name }}</td>
                            <td>{{ student.student.course.abbreviation }}</td>
                            <td>{{ student.student.course.college }}</td>
                            <td>{{ student.log_time }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h2 class="text-center">Please Select an Event above</h2>
        {% endif %}
    </div>
{% endblock %}
